<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>6</string>
					<key>EndingLineNumber</key>
					<string>105</string>
					<key>StartingColumnNumber</key>
					<string>6</string>
					<key>StartingLineNumber</key>
					<string>105</string>
					<key>Timestamp</key>
					<string>726616231.023712</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ToDoList/View/NewTodoCategoryView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>      }
        
      </string>
				<key>trailing</key>
				<string> // .edgesIgnoringSafeArea(.bottom)
    }
       
</string>
			</dict>
			<key>title</key>
			<string>Removed - Due to overlapping view with Tabbar and odd animation behaviour during animation transition of the view</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>119</string>
					<key>StartingColumnNumber</key>
					<string>41</string>
					<key>StartingLineNumber</key>
					<string>118</string>
					<key>Timestamp</key>
					<string>726616474.075044</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ToDoList/View/NewToDoView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>        }
        
       // .edgesIgnoringSafeArea(.bottom)</string>
				<key>trailing</key>
				<string>    }
    
    private func addTask(name: String, priority: Priority, isComplete: Bool = false) {
</string>
			</dict>
			<key>title</key>
			<string>Removed - See also NewToDoCategoryView Line 106</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>102</string>
					<key>StartingColumnNumber</key>
					<string>42</string>
					<key>StartingLineNumber</key>
					<string>101</string>
					<key>Timestamp</key>
					<string>726647682.776155</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ToDoList/View/NewTodoCategoryView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>        .background(Color.white)
        .cornerRadius(10, antialiased: true)
        //.offset(y: isEditing ? -320 : 0)</string>
				<key>trailing</key>
				<string>        
      }
        
</string>
			</dict>
			<key>title</key>
			<string>Removed - Keyboard appearance and view movement is controlled as of iOS17</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>116</string>
					<key>StartingColumnNumber</key>
					<string>46</string>
					<key>StartingLineNumber</key>
					<string>115</string>
					<key>Timestamp</key>
					<string>726647771.1491489</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ToDoList/View/NewToDoView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>            .background(Color.white)
            .cornerRadius(10, antialiased: true)
           // .offset(y: isEditing ? -320 : 0)</string>
				<key>trailing</key>
				<string>        }
        
       // .edgesIgnoringSafeArea(.bottom)
</string>
			</dict>
			<key>title</key>
			<string>REmoved - Keyboard appearance and view movement is controlled as of iOS17</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
